body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 50px;
}
table,
td {
  border: 1px solid black;
  vertical-align: top;
}
.container {
  background-color: powderblue;
  padding: 20px;
}
.moduleContent {
  height: 200px;
  width: 500px;
  font-size: 14pt;
}
.moduleForm form {
  display: grid;
}
.moduleForm label {
  display: block;
}
.viewModules {
  width: 500px;
}
