body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 50px;
}
.tableContainer td {
  vertical-align: top;
  width: 33%;
}
.moduleGroupTable {
  background-color: white;
  border: 2px black;
  cursor: pointer;
}
td.moduleGroupTD:focus {
  background-color: blue;
}
.container {
  background-color: powderblue;
  padding: 20px;
}
.moduleContent {
  resize: both;
  height: 200px;
  /* width: 500px; */
  font-size: 14pt;
  background-color: white;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  overflow: auto;
  resize: both;
}
.moduleForm form {
  display: grid;
}
.moduleForm label {
  display: block;
}
.viewModules {
  width: 500px;
  display: block;
}
.loadModules {
  color: blue;
  cursor: pointer;
}
.moduleListTable {
  background-color: white;
  border: 2px black;
  cursor: pointer;
  margin: 30px 0;
}
.moduleListTable td:focus {
  background-color: blue;
}

/* The device with borders */
.smartphone {
  /* overflow: scroll;
  background-color: white; */
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* Using Device Look CSS from https://www.w3schools.com/howto/howto_css_devices.asp */
/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}
/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}
/* The screen (or content) of the device */
.smartphone .content {
  overflow: scroll;
  width: 360px;
  height: 640px;
  background: white;
}
