body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 50px;
}
td {
  vertical-align: top;
}
td.createModuleForm {
  /*  */
}
.moduleGroupTable {
  background-color: white;
  border: 2px black;
  cursor: pointer;
}
td.moduleGroupTD:focus {
  background-color: blue;
}
.container {
  background-color: powderblue;
  padding: 20px;
}
.moduleContent {
  height: 200px;
  width: 500px;
  font-size: 14pt;
}
.moduleForm form {
  display: grid;
}
.moduleForm label {
  display: block;
}
.viewModules {
  width: 500px;
  display: block;
}
.loadModules {
  color: blue;
  cursor: pointer;
}
.moduleListTable {
  background-color: white;
  border: 2px black;
  cursor: pointer;
  margin: 30px 0;
}
.moduleListTable:focus {
  background-color: blue;
}
